/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
     overflow: hidden;
     
}


body{
    height: 100vh;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    overflow: hidden;
   /* background-image: linear-gradient(#f0ede5, #42ad03); */
  
}
#signup{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

::selection{
    color: #fff;
    background-color: #041791;
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #041791;
    cursor: pointer;
}
.start_btn button:hover{
    background:rgb(238, 238, 241);
    color: #041791;
    transition: all 0.3s   ease;
}

.info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #041791;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #041791;
    transition: all 0.3s ease;
}

.quiz_box{
    margin-top: 30px;
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    display: flex;
    align-items: center;
     justify-content: space-between;
     width: 145px;
     height: 45px;
     background-color: rgb(163, 163, 177);
     border: 1px solid rgb(233, 232, 240);
     border-radius: 5px;    
     padding: 0 8px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
     font-size: 18px;
    font-weight: 500;
    width: 45px;
    height: 30px;
    background-color: #041791;
    text-align: center;
    color: #fff;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #fff;
    user-select: none;

}

.quiz_box header .time_line{
     position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #041791
}

section{
    padding: 25px 30px 80px 30px;
    background: #fff;
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
     background: #fff;
    border: 1px solid #041791;
    border-radius: 5px;
    padding:  8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
     color: honeydew;
    background: #041791;
    border-color: #fff;
}

section .option_list .option.correct{
    border-color: #23903c;
    color: #1e4b28;
    background: #29af48;
}

section .option_list .option.incorrect{
    border-color: #a42834;
    color: #811e28;
    background: #a5525b;
} 

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
/* .option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
} */

footer{
    position:fixed;
     left:0px;
     bottom:0px;
     height:100px;
     width:100%;
    padding: 0 30px;
    display: flow-root;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #041791;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #041791;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.book-button3 {
    padding: 15px;
    background-color: #041791;
    color: #fafafa;
    transition: all 0.3s;
    font-size: 20px;
}
.book-button3:hover{
    color: #811e28;
}

.result_box{
    background: rgb(185, 195, 185);
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon{
    font-size: 100px;
    color: springgreen;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #11aa84;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #041791;
}

.buttons button.restart:hover{
    background: #fff;
    color: #041791;
}

.buttons button.quit{
    color: #041791;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #041791;
}

/*----------------------------------Navbar---------*/
.nav-link{
    border-radius: 0%;
    padding: 10px 10px;
    text-align: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
}
.nav-link:hover{
    border-radius: 0%;
    background: #e9b987;
    color: #041791;
}

.bg-color-navbar {
   background: #041791;
  box-shadow: 2px 2px white;
}

.nav-text-color {
  color: #f7fdfb;
}

.navbar-toggler {
  color: #000;
}

.navbar-nav .nav-link {
  margin-left: 20px;
  padding-right: 0;
  padding-left: 0;
}

.navbar-brand:hover {
  color: #fafafa;
} 

@media (max-width: 668px){
     
.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -20%) scale(1);
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 116px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.container_one{
    width: 100%;
    padding-right: 15px;
    padding-left: 36px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

 }
 


 /**-----------Footer section--------------*/

 footer {

     overflow: hidden;
     color: #fff;
     padding: 15px;
     margin-top: 5%;
 }

 p{
     margin-top: 0px;
     margin-bottom: 1rem;
     padding-top: 10px;
 }

 #footerbg {
     padding-top: 10px ;
     background-color: #041791;
     
 }

 .social-links {
     margin-top: 20px;
 }

 .social-links li a i {
     background-color: #041791;
     height: 50px;
     width: 50px;
     color: #fff;
     font-size: 30px;
     padding: 10px;
     border-radius: 50%;
 }

 .social-links li a i:hover {
     background: #e9b987;
     color: #041791;
 }

 .side-item {
     margin: 10px auto;

 }

 #remove-line {
     /*To create a gap between the map and the footer*/
     border-top: 1px solid rgba(0, 0, 0, 0);
 }